extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempus aliquam lectus vitae consectetur. Vestibulum sodales, diam id iaculis venenatis, ipsum lorem eleifend tortor, in pulvinar sem ante id arcu.
                p Fusce id ultrices lacus. Suspendisse id volutpat velit, vel rhoncus dui. Pellentesque cursus, mi euismod bibendum euismod, ex orci dapibus lectus, quis fringilla quam mauris ut elit. Nullam pulvinar lacus nec est tincidunt rutrum. Vestibulum mollis, risus quis sollicitudin pretium, augue ligula maximus neque, non tristique purus turpis varius massa.

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque-viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque-testimoniales