extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit arcu a tellus viverra, quis pharetra quam sodales. Pellentesque ut sodales felis. Suspendisse ac pellentesque dolor. Cras velit erat, imperdiet consequat condimentum commodo, auctor ut nulla. Pellentesque rhoncus accumsan elit. Duis congue bibendum quam, ac fringilla mauris pulvinar non. I

                p Quisque volutpat quam eget tempor malesuada. Donec ullamcorper lacinia dui, in tempus purus fermentum a. Maecenas sagittis mi at neque facilisis, id ullamcorper lacus finibus. Ut luctus, arcu id dignissim facilisis, massa massa porta libero, quis convallis nisl odio et augue. Suspendisse vulputate tellus vel neque viverra, et malesuada turpis mattis.

                p Morbi id auctor enim, eget eleifend elit. Donec fringilla cursus porta. Sed tincidunt enim a orci placerat feugiat. Vivamus vehicula lorem in dui vehicula convallis. Donec vulputate sem ut arcu laoreet, a tempor leo sagittis. Curabitur ut lacus dictum, sollicitudin leo vitae, faucibus dolor. Vivamus dapibus ut arcu id sagittis. Donec bibendum tincidunt purus, id accumsan nulla elementum eget. Integer gravida ipsum nec lectus sodales, eu maximus lorem maximus.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Vivamus dapibus ut arcu id sagittis. Donec bibendum tincidunt purus, id accumsan nulla elementum eget. Integer gravida ipsum nec lectus sodales, eu maximus lorem maximus.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Vivamus dapibus ut arcu id sagittis. Donec bibendum tincidunt purus, id accumsan nulla elementum eget. Integer gravida ipsum nec lectus sodales, eu maximus lorem maximus.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Vivamus dapibus ut arcu id sagittis. Donec bibendum tincidunt purus, id accumsan nulla elementum eget. Integer gravida ipsum nec lectus sodales, eu maximus lorem maximus.